<!-- src/app/landing-page/landing-page.component.html -->
<div class="landing-page">
  <header>
    <h1>FASHION STORE</h1>
    <nav>
      <a href="#novidades">Novidades</a>
      <a href="#promocoes">Promoções</a>
      <a href="#mais-vendidos">Mais Vendidos</a>
      <a class="login" href="#login">Login</a>
    </nav>
  </header>

  <section id="novidades" class="categories">
    <div class="category">
      <h2>Novidades</h2>
      <p>Confira as últimas novidades em nossa coleção.</p>
    </div>
    <div class="category">
      <h2>Promoções</h2>
      <p>Aproveite as melhores ofertas e descontos especiais.</p>
    </div>
    <div class="category">
      <h2>Mais Vendidos</h2>
      <p>Descubra os produtos mais populares entre nossos clientes.</p>
    </div>
  </section>

  <div class="gallery">
    <div class="gallery-container">
      <div class="gallery-item">
        <img src="assets/images/a.jpeg" alt="Clothing 1" class="image">
        <div class="price">R$ 50</div>
      </div>
      <div class="gallery-item">
        <img src="assets/images/c.jpeg" alt="Clothing 2" class="image">
        <div class="price">R$ 60</div>
      </div>
      <div class="gallery-item">
        <img src="assets/images/i.jpeg" alt="Clothing 3" class="image">
        <div class="price">R$ 55</div>
      </div>
      <div class="gallery-item">
        <img src="assets/images/h.jpeg" alt="Clothing 4" class="image">
        <div class="price">R$ 45</div>
      </div>
      <div class="gallery-item">
        <img src="assets/images/f.jpeg" alt="Clothing 5" class="image">
        <div class="price">R$ 65</div>
      </div>
      <div class="gallery-item">
        <img src="assets/images/k.jpg" alt="Clothing 1" class="image">
        <div class="price">R$ 50</div>
      </div>
      <div class="gallery-item">
        <img src="assets/images/l.jpeg" alt="Clothing 2" class="image">
        <div class="price">R$ 60</div>
      </div>
      <div class="gallery-item">
        <img src="assets/images/m.jpeg" alt="Clothing 3" class="image">
        <div class="price">R$ 55</div>
      </div>
      <div class="gallery-item">
        <img src="assets/images/n.jpeg" alt="Clothing 4" class="image">
        <div class="price">R$ 45</div>
      </div>
      <div class="gallery-item">
        <img src="assets/images/o.png" alt="Clothing 5" class="image">
        <div class="price">R$ 65</div>
      </div>
    </div>
    <div class="carousel-controls"> 
      <button class="carousel-button" id="prev">&#8249;</button>
      <button class="carousel-button" id="next">&#8250;</button>
    </div>
  </div>
</div>

<footer>
  <p>&copy; 2024 Fashion Store. Todos os direitos reservados.</p>
</footer>
